{% extends 'base.html' %}
{% block content %}

<h1>Trail Details</h1>

    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ trail.name }}</span>
            <img src="{{ trail.image }}">
            <p>Difficulty: {{ trail.difficulty }}</p>
            <p>Description: {{ trail.description|linebreaks }}</p>
            <br>
            <p>Street Address: {{trail.streetAddress}}</p>
            <p>City: {{trail.city}}</p>
            <p>State: {{trail.state}}</p>
            <p>zip: {{trail.zip}}</p>

            {% if trail.map != 'https://maps/google.com' %}
                <iframe src="{{ trail.map }}"></iframe>
            {% endif %}

        </div>
        <div class="card-action">
            <a href="{% url 'trails_update' trail.id %}">Edit</a>
            <a href="{% url 'trails_delete' trail.id %}">Delete</a>
        </div>
    </div>

{% endblock %}